<!-- <mat-form-field class="demo-full-width">
  <mat-label>Select your car</mat-label>
  <select matNativeControl id="mySelectId" disabled>
    <option value="volvo">Volvo</option>
    <option value="saab" disabled>Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>

<mat-form-field class="demo-full-width">
  <mat-label>Select your car</mat-label>
  <select matNativeControl multiple>
    <option value="volvo">Volvo</option>
    <option value="saab" disabled>Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
  </select>
</mat-form-field>


<mat-form-field class="demo-full-width">
  <mat-label>Select your car</mat-label>
  <mat-select>
    <mat-option value="volvo">Volvo</mat-option>
    <mat-option value="saab" disabled>Saab</mat-option>
    <mat-option value="mercedes">Mercedes</mat-option>
    <mat-option value="audi">Audi</mat-option>
  </mat-select>
</mat-form-field> -->

<h2>Always inside the DOM</h2>
<new-select label="Select your car" [alwaysInDom]="true">
  <new-option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</new-option>
</new-select>

<h2>Removed from DOM on close</h2>
<new-select label="Select your car" [alwaysInDom]="false">
  <new-option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</new-option>
</new-select>

<h2>Always inside the DOM using <code>ul</code></h2>
<new-select-ul label="Select your car" [alwaysInDom]="true">
  <li new-option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</li>
</new-select-ul>

<h2>Removed from DOM on close <code>ul</code></h2>
<new-select-ul label="Select your car" [alwaysInDom]="false">
  <li new-option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</li>
</new-select-ul>

<h2>Based on combobox + listbox</h2>
<new-select-combobox label="Select your car">
  <new-option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</new-option>
</new-select-combobox>

<h2>Custom multi select</h2>
<new-select label="Select your car" [multiple]="true">
  <new-option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</new-option>
</new-select>

<h2>Filter dialog based on combobox + listbox</h2>
<new-select-combobox-dialog label="Select your car" (textChange)="filterCars($event)">
  <new-option *ngFor="let car of filteredCars" [value]="car.value">{{ car.viewValue }}</new-option>
</new-select-combobox-dialog>

<h2>Native single select</h2>
<select>
  <option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</option>
</select>

<h2>Native multi select</h2>
<select multiple>
  <option *ngFor="let car of cars" [value]="car.value">{{ car.viewValue }}</option>
</select>

