[ngComboboxInput] {
  width: 300px;
}

[ngCombobox]:focus-within [ngComboboxInput] {
  outline: 1.5px solid;
}

[ngOption][aria-selected='true']::after {
  content: '✓';
  padding-left: 8px;
}

[popover] {
  margin: 0;
  padding: 0;
  border: none;
}

[ngListbox] {
  overflow: auto;
  max-height: 300px;
  border: 1px solid;
  width: 100%;
}

[ngOption] {
  cursor: pointer;
}

.example-selected-icon {
  visibility: hidden;
}

.example-option[aria-selected='true'] .example-selected-icon {
  visibility: visible;
}

.example-option[inert],
.example-tree-item[inert] {
  display: none;
}

[ngCombobox]:focus-within [data-active='true'] {
  /* background: color-mix(
      in srgb,
      var(--mat-sys-on-surface) calc(var(--mat-sys-focus-state-layer-opacity) * 100%),
      transparent
  ); */

  /* TODO: fix the color above */
  background: red;
}

[ngCombobox]:focus-within [data-active='true'][aria-selected='true'] {
  /* background: color-mix(
      in srgb,
      var(--mat-sys-primary) calc(var(--mat-sys-pressed-state-layer-opacity) * 100%),
      transparent
  );
  color: var(--mat-sys-primary); */
  /* TODO: fix the colors above */
  background: blue;
}

.example-tree {
  padding: 10px;
  overflow-x: scroll;
}

.example-tree-item {
  cursor: pointer;
  list-style: none;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 1rem;
}

li[aria-expanded='false'] + ul[role='group'] {
  display: none;
}

ul[role='group'] {
  padding-inline-start: 1rem;
}

.example-icon {
  margin: 0;
  width: 24px;
}

.example-parent-icon {
  transition: transform 0.2s ease;
}

.example-tree-item[aria-expanded='true'] .example-parent-icon {
  transform: rotate(90deg);
}

.example-selected-icon {
  visibility: hidden;
  margin-left: auto;
}

.example-tree-item[aria-current] .example-selected-icon,
.example-tree-item[aria-selected='true'] .example-selected-icon {
  visibility: visible;
}
