@use '@material/chips/chip' as mdc-chip;
@use '@material/chips/chip-theme' as mdc-chip-theme;
@use '@material/chips/chip-set' as mdc-chip-set;
@use '@material/ripple' as mdc-ripple;
@use '../../material/core/style/layout-common';
@use '../../cdk/a11y';
@use '../mdc-helpers/mdc-helpers';

@function _get-theme(
  $on-surface-state-content,
  $on-surface,
  $on-surface-state-layer,
  $on-secondary-state-content,
  $on-secondary-state-layer,
  $secondary,
  $surface,
  $hairline,
  $primary-state-content,
  $on-secondary,
  $on-surface-variant,
  $shadow,
  $primary) {
  // $on-surface-state-content: map.get($color-theme-map, on-surface-state-content);
  // $on-surface: map.get($color-theme-map, on-surface);
  // $on-surface-state-layer: map.get($color-theme-map, on-surface-state-layer);
  // $on-secondary-state-content: map.get($color-theme-map, on-secondary-state-content);
  // $on-secondary-state-layer: map.get($color-theme-map, on-secondary-state-layer);
  // $secondary: map.get($color-theme-map, secondary);
  // $surface: map.get($color-theme-map, surface);
  // $hairline: map.get($color-theme-map, hairline);
  // $primary-state-content: map.get($color-theme-map, primary-state-content);
  // $on-secondary: map.get($color-theme-map, on-secondary);
  // $on-surface-variant: map.get($color-theme-map, on-surface-variant);
  // $shadow: map.get($color-theme-map, shadow);
  // $primary: map.get($color-theme-map, primary);

  @return (
    container-elevation: 0,
    elevated-disabled-container-elevation: 0,
    elevated-focus-container-elevation: 1,
    elevated-hover-container-elevation: 3,
    elevated-pressed-container-elevation: 6,
    flat-container-elevation: 0,
    flat-selected-focus-container-elevation: 0,
    flat-selected-hover-container-elevation: 1,
    flat-selected-pressed-container-elevation: 3,
    flat-unselected-focus-container-elevation: 0,
    flat-unselected-hover-container-elevation: 0,
    flat-unselected-pressed-container-elevation: 0,
    elevated-container-elevation: 1,

    elevated-selected-container-elevation: 1,

    // TODO: MDC logs a warning because these aren't defined, but at the same
    // time it throws an error because they aren't in the validation theme.
    // flat-unselected-container-elevation: 0,
    // flat-unselected-disabled-container-elevation: 0,
    // flat-selected-container-elevation: 0,
    // flat-selected-disabled-container-elevation: 0,

    disabled-label-text-color: $on-surface,
    disabled-outline-color: $on-surface,
    elevated-disabled-container-color: $on-surface,
    flat-disabled-outline-color: $on-surface,
    flat-disabled-unselected-outline-color: $on-surface,
    label-text-color: $on-surface,
    with-icon-disabled-icon-color: $on-surface,
    with-leading-icon-disabled-leading-icon-color: $on-surface,
    with-trailing-icon-disabled-trailing-icon-color: $on-surface,

    flat-focus-outline-color: $on-surface-state-content,
    flat-unselected-focus-outline-color: $on-surface-state-content,
    focus-label-text-color: $on-surface-state-content,
    focus-outline-color: $on-surface-state-content,
    hover-label-text-color: $on-surface-state-content,
    pressed-label-text-color: $on-surface-state-content,
    unselected-focus-label-text-color: $on-surface-state-content,
    unselected-hover-label-text-color: $on-surface-state-content,
    unselected-pressed-label-text-color: $on-surface-state-content,
    with-icon-unselected-focus-icon-color: $on-surface-state-content,
    with-icon-unselected-hover-icon-color: $on-surface-state-content,
    with-icon-unselected-pressed-icon-color: $on-surface-state-content,
    with-leading-icon-pressed-leading-icon-color: $on-surface-state-content,
    with-leading-icon-focus-leading-icon-color: $on-surface-state-content,
    with-leading-icon-hover-leading-icon-color: $on-surface-state-content,
    with-trailing-icon-focus-trailing-icon-color: $on-surface-state-content,
    with-trailing-icon-hover-trailing-icon-color: $on-surface-state-content,
    with-trailing-icon-pressed-trailing-icon-color: $on-surface-state-content,

    focus-state-layer-color: $on-surface-state-layer,
    hover-state-layer-color: $on-surface-state-layer,
    pressed-state-layer-color: $on-surface-state-layer,
    selected-pressed-state-layer-color: $on-surface-state-layer,
    unselected-focus-state-layer-color: $on-surface-state-layer,
    unselected-hover-state-layer-color: $on-surface-state-layer,

    elevated-selected-container-color: $secondary,
    flat-selected-container-color: $secondary,

    elevated-container-color: $surface,
    elevated-unselected-container-color: $surface,

    flat-outline-color: $hairline,
    flat-unselected-outline-color: $hairline,
    outline-color: $hairline,

    selected-focus-label-text-color: $on-secondary-state-content,
    selected-hover-label-text-color: $on-secondary-state-content,
    selected-pressed-label-text-color: $on-secondary-state-content,
    with-icon-selected-focus-icon-color: $on-secondary-state-content,
    with-icon-selected-hover-icon-color: $on-secondary-state-content,
    with-icon-selected-pressed-icon-color: $on-secondary-state-content,

    selected-focus-state-layer-color: $on-secondary-state-layer,
    selected-hover-state-layer-color: $on-secondary-state-layer,
    unselected-pressed-state-layer-color: $on-secondary-state-layer,

    with-icon-focus-icon-color: $primary-state-content,
    with-icon-hover-icon-color: $primary-state-content,
    with-icon-pressed-icon-color: $primary-state-content,

    selected-label-text-color: $on-secondary,
    with-icon-selected-icon-color: $on-secondary,

    unselected-label-text-color: $on-surface-variant,
    with-icon-unselected-icon-color: $on-surface-variant,
    with-leading-icon-leading-icon-color: $on-surface-variant,
    with-trailing-icon-trailing-icon-color: $on-surface-variant,

    container-shadow-color: $shadow,
    elevated-container-shadow-color: $shadow,

    with-icon-icon-color: $primary,

    // TODO: check if these can't be taken from the typography config.
    label-text-font: 'Roboto, "Helvetica Neue", sans-serif',
    label-text-line-height: 20px,
    label-text-size: 14px,
    label-text-tracking: 0.25px,
    label-text-weight: 500,

    // Non-theme styles
    unselected-pressed-state-layer-opacity: 0.1,
    with-avatar-avatar-shape: (
      family: 'rounded',
      radius: (14px, 14px, 14px, 14px)
    ),
    with-icon-icon-size: 18px,
    with-leading-icon-disabled-leading-icon-opacity: 0.38,
    with-leading-icon-leading-icon-size: 20px,
    with-trailing-icon-disabled-trailing-icon-opacity: 0.38,
    with-avatar-avatar-size: 28px,
    with-avatar-disabled-avatar-opacity: 0.38,
    with-icon-disabled-icon-opacity: 0.38,
    with-trailing-icon-trailing-icon-size: 18px,
    pressed-state-layer-opacity: 0.1,
    selected-focus-state-layer-opacity: 0.12,
    selected-hover-state-layer-opacity: 0.04,
    selected-pressed-state-layer-opacity: 0.1,
    unselected-focus-state-layer-opacity: 0.12,
    unselected-hover-state-layer-opacity: 0.04,
    flat-disabled-outline-opacity: 0.12,
    flat-disabled-unselected-outline-opacity: 0.12,
    flat-selected-outline-width: 0,
    focus-state-layer-opacity: 0.12,
    hover-state-layer-opacity: 0.04,
    outline-width: 1px,
    flat-unselected-outline-width: 1px,
    flat-outline-width: 1px,
    disabled-label-text-opacity: 0.38,
    disabled-outline-opacity: 0.12,
    elevated-disabled-container-opacity: 0.12,
    container-height: 32px,
    container-shape: (
      family: 'rounded',
      radius: (16px, 16px, 16px, 16px)
    ),

    // TODO: these don't appear in MDC's internal mappings either.
    flat-disabled-selected-outline-color: null,
    flat-disabled-selected-outline-opacity: null,
    flat-selected-outline-color: null,
  );
}

@include mdc-chip.without-ripple-styles($query: mdc-helpers.$mat-base-styles-query);
@include mdc-chip-set.core-styles();

// TODO: remove icon color and potentially focus styles.

// @include mdc-chips.without-ripple($query: mdc-helpers.$mat-base-styles-query);
// @include mdc-chips.set-core-styles($query: mdc-helpers.$mat-base-styles-query);

.mat-mdc-chip {
  // // MDC uses a pointer cursor
  // cursor: default;

  // &._mat-animation-noopable {
  //   animation: none;
  //   transition: none;

  //   .mdc-chip__checkmark-svg {
  //     transition: none;
  //   }
  // }
  @include mdc-chip-theme.theme-styles(_get-theme(
    $on-surface-state-content: rgb(5, 5, 5),
    $on-surface: rgb(5, 5, 5),
    $on-surface-state-layer: rgb(5, 5, 5),
    $on-secondary-state-content: #0d47a1, // gm-ref-palette.$blue900
    $on-secondary-state-layer: #1976d2, // gm-ref-palette.$blue700
    $secondary: #bbdefb, // gm-ref-palette.$blue100
    $surface: #fff,
    $hairline: #9e9e9e, // gm-ref-palette.$grey500
    $primary-state-content: #0d47a1, // gm-ref-palette.$blue900
    $on-secondary: #1976d2, // gm-ref-palette.$blue700
    $on-surface-variant: #424242, // gm-ref-palette.$grey800
    $shadow: #424242, // gm-ref-palette.$grey800
    $primary: #1565c0 // gm-ref-palette.$blue800
  ));

  @include a11y.high-contrast(active, off) {
    outline: solid 1px;

    &.cdk-focused {
      // Use 2px here since the dotted outline is a little thinner.
      outline: dotted 2px;
    }
  }

  // Angular Material supports disabled chips, which MDC does not.
  // Dim the disabled chips and stop MDC from changing the icon color on click.
  &.mdc-evolution-chip--disabled {
    opacity: 0.4;
  }
}

// MDC's focus and hover indication is handled through their ripple which we currently
// don't use due to size concerns so we have to re-implement it ourselves.
.mat-mdc-chip-focus-overlay {
  @include layout-common.fill;
  content: '';
  pointer-events: none;
  opacity: 0;
  border-radius: inherit;
  transition: opacity 150ms linear;

  ._mat-animation-noopable & {
    transition: none;
  }

  .mat-mdc-basic-chip & {
    display: none;
  }

  .mat-mdc-chip:hover & {
    opacity: 0.04;
  }

  .mat-mdc-chip.cdk-keyboard-focused &,
  .mat-mdc-chip.cdk-program-focused & {
    opacity: 0.12;
  }
}

// The ripple container should match the bounds of the entire chip.
.mat-mdc-chip-ripple {
  @include layout-common.fill;

  // Disable pointer events for the ripple container and state overlay because the container
  // will overlay the user content and we don't want to disable mouse events on the user content.
  // Pointer events can be safely disabled because the ripple trigger element is the host element.
  pointer-events: none;

  // Inherit the border radius from the parent so that state overlay and ripples don't exceed the
  // parent button boundaries.
  border-radius: inherit;
}

.mat-mdc-chip-avatar {
  // In case an icon or text is used as an avatar.
  text-align: center;
  line-height: 1;
}

// Angular Material supports vertically-stacked chips, which MDC does not.
.mat-mdc-chip-set-stacked {
  flex-direction: column;
  align-items: flex-start;

  .mat-mdc-chip {
    width: 100%;
  }
}

// Add styles for the matChipInputFor input element.
$mat-chip-input-width: 150px;

input.mat-mdc-chip-input {
  flex: 1 0 $mat-chip-input-width;
}

// // The margin value is set in MDC.
// $chip-margin: 4px;

// // Don't let the chip margin increase the mat-form-field height.
// .mat-mdc-chip-grid {
//   margin: -$chip-margin;

//   // Keep the mat-chip-grid height the same even when there are no chips.
//   input.mat-mdc-chip-input {
//     margin: $chip-margin;
//   }
// }

// .mdc-chip__checkmark-path {
//   ._mat-animation-noopable & {
//     transition: none;
//   }

//   @include a11y.high-contrast(black-on-white, off) {
//     // SVG colors won't be changed in high contrast mode and since the checkmark is white
//     // by default, it'll blend in with the background in black-on-white mode. Override the color
//     // to ensure that it's visible. We need !important, because the theme styles are very specific.
//     stroke: #000 !important;
//   }
// }

// // Needed for the focus indicator.
// .mat-mdc-chip-row-focusable-text-content {
//   position: relative;
// }

.mat-mdc-chip-remove {
  .mat-icon {
    width: inherit;
    height: inherit;
    font-size: inherit;
  }
}

// .mat-mdc-chip-row-focusable-text-content,
// .mat-mdc-chip-remove-icon {
//   display: flex;
//   align-items: center;
// }

// .mat-mdc-chip-content {
//   display: inline-flex;
// }

// .mdc-chip--editing {
//   background-color: transparent;
//   display: flex;
//   flex-direction: column;

//   .mat-mdc-chip-content {
//     pointer-events: none;
//     height: 0;
//     overflow: hidden;
//   }
// }

// .mat-chip-edit-input {
//   cursor: text;
//   display: inline-block;
// }

// .mat-mdc-chip-edit-input-container {
//   width: 100%;
//   height: 100%;
//   display: flex;
//   align-items: center;
// }
